<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard</title>

        <link rel="stylesheet" href="css/adminDash.css">
        <link rel="stylesheet" href="css/assets/adminHeaders.css">
        <link rel="stylesheet" href="css/universal.css">

        <!-- for that canva poster font -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
            rel="stylesheet">
        <!-- "Cinzel Decorative", serif; -->
    </head>
    <body>
        <header>
            <div class="heading">
                Admin Dashboard
            </div>
        </header>
        <main>

            <section class="options-section">
                <div class="options-container">
                    <div class="note">
                        As a admin you can access all this features now!
                    </div>
                    <div class="four-options-container">
                        <div class="most-fav option">
                            <i class="fa-solid fa-heart"></i>
                            <p>Most Favourites</p>
                        </div>
                        <div class="top-sellers option">
                            <i class="fa-solid fa-sack-dollar"></i>
                            <p>Top Sellers</p>
                        </div>
                        <div class="users-details option">
                            <i class="fa-solid fa-users"></i>
                            <p>Users Details</p>
                        </div>
                        <div class="manage-bookings option">
                            <i class="fa-solid fa-bookmark"></i>
                            <p>Manage Bookings</p>
                        </div>
                    </div>

                    <div class="four-options-container">
                        <div class="addJ option">
                            <i class="fa-solid fa-folder-plus"></i>
                            <p>Add Jewelleries</p>
                        </div>
                        <div class="readJ option">
                            <i class="fa-solid fa-folder"></i>
                            <p>See Jewelleries</p>
                        </div>
                        <div class="updateJ option">
                            <i class="fa-regular fa-folder-open"></i>
                            <p>Update Jewelleries</p>
                        </div>
                        <div class="remJ option">
                            <i class="fa-solid fa-folder-minus"></i>
                            <p>Remove Jewelleries</p>
                        </div>
                    </div>
                    <div class="logout">
                        <button>Logout</button>
                    </div>

                </div>
            </section>
        </main>

        <script src="/js/adminDash.js"></script>

        <!-- icons script -->
        <script src="https://kit.fontawesome.com/4aa734da70.js"
            crossorigin="anonymous"></script>
        <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>