<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forgot Password</title>

        <link rel="stylesheet" href="/css/forgot.css">
        <link rel="stylesheet" href="css/universal.css">
        <link rel="stylesheet" href="css/assets/footer.css">
        <link rel="stylesheet" href="css/assets/navbar.css">
        <link rel="stylesheet" href="css/assets/typeLinks.css">
        <link rel="stylesheet" href="css/assets/authentication.css">
    </head>
    <body>
        <header>
            <!-- navbar and jewelry link -->
            <%- include('assets/navbar.ejs') %>
            <%- include('assets/typeLinks.ejs') %>
        </header>

        <main>
            <section class="forgot-section">
                <div class="forgot-container">
                    <div class="forgot-heading">
                        <p>Forgot Password</p>
                    </div>

                    <form class="forgot-body">
                        <div class="email-div input-div">
                            <label for="email-input-user-in">Email</label>
                            <input class="email-input"
                                id="email-input-user-in" type="email"
                                placeholder="Enter your emailID"
                                name="email">
                            <div id="email-error"></div>
                        </div>

                        <div class="button-div input-div">
                            <button type="submit"
                                class="reset">Submit</button>
                        </div>
                    </form>

                </div>
            </section>
        </main>

        <%- include('assets/footer') %>

        <script src="/js/home.js"></script>
        <script src="/js/assets/navbar.js"></script>
        <script src="/js/assets/authentication.js"></script>

        <!-- icons script -->
        <script src="https://kit.fontawesome.com/4aa734da70.js"
            crossorigin="anonymous"></script>
        <script type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    </body>

</html>