
<footer>
    <section class="footer-section">
        <div class="footer-container">

            <div class="footer-item">
                <div class="footer-item-heading">About us</div>

                <div class="footer-item-content">

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-gem"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>About OJB
                            </li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-clipboard-question"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Help & FAQ</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-location-dot"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Find our store</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i
                                    class="fa-solid fa-clipboard-question"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Policies</li>
                        </span>
                    </div>

                </div>
            </div>

            <div class="footer-item">
                <div class="footer-item-heading">Contact us</div>

                <div class="footer-item-content">

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-envelope"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Write us</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-phone"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>+91 (22) 123-4567</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-solid fa-message"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Chat with us</li>
                        </span>
                    </div>

                </div>
            </div>
            <div class="footer-item">
                <div class="footer-item-heading">Follow us</div>
                <div class="footer-item-content">

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i
                                    class="fa-brands fa-square-instagram"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Instagram</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i
                                    class="fa-brands fa-square-facebook"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Facebook</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-brands fa-square-threads"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>Threads</li>
                        </span>
                    </div>

                    <div class="footer-content-row">
                        <span class="footer-icons">
                            <li><i class="fa-brands fa-x-twitter"></i></li>
                        </span>
                        <span class="footer-text">
                            <li>X</li>
                        </span>
                    </div>

                </div>
            </div>

        </div>
    </section>
</footer>