<!-- 
        !navbar starts
       -->

<section id="navbar-section">
    <div id="navbar-container" class="navbar-text">

        <div id="left-search" class="navbar-position-part flex-center">
            <div id="jewelaura-logo-div" class="navbar-box-height flex-center">
                <a href="/" id="jewelaura-logo"
                    alt="Failed to load logo"></a>
            </div>
        </div>

        <div id="center-search"
            class="navbar-position-part navbar-box-height">

            <form action="/navbar" method="post" id="search-bar-container" class=" flex-center">
                <div id="search-bar-input-div" class="flex-center">
                    <input type="text" id="search-bar-input" name="searchInput"
                        placeholder="Search for Jewelleries here...">
                </div>
                <button type="submit" id="search-logo-div" class="nabbar-box-height flex-center">
                    <i id="search-logo"
                        class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>

        </div>

        <% if(user) { %>

        <div id="right-search-userProfile"
            class="flex-center navbar-box-height">
            <a id="favorites-div"
                class="flex-center navbar-box-height shadow-navbar-box">
                <div id="favorites-logo-div" class="flex-center">
                    <i id="favorites-logo" class="fa-regular fa-heart"></i>
                </div>
                <div id="favorites-text-div" class="flex-center">
                    <div id="favorites-text">Favorites</div>
                </div>
            </a>

            <a id="bookings-div"
                class="flex-center navbar-box-height shadow-navbar-box">
                <div id="bookings-logo-div" class="flex-center">
                    <i id="bookings-logo" class="fa-regular fa-bookmark"></i>
                </div>
                <div id="bookings-text-div" class="flex-center">
                    <div id="bookings-text">Bookings</div>
                </div>
            </a>

            <a id="account-div-userProfile"
                class="flex-center navbar-box-height shadow-navbar-box">
                <div id="account-logo-div" class="flex-center">
                    <i id="account-logo" class="fa-regular fa-user"></i>
                </div>
                <div id="account-text-div" class="flex-center">
                    <div id="account-text">Profile</div>
                </div>
            </a>
        </div>
        <% }else{ %>
        <div id="right-search-empty" class="flex-center navbar-box-height">
            <a id="account-div-empty"
                class="flex-center navbar-box-height shadow-navbar-box">
                <div id="account-logo-div" class="flex-center">
                    <i id="account-logo" class="fa-regular fa-user"></i>
                </div>
                <div id="account-text-div" class="flex-center">
                    <div id="account-text">Login</div>
                </div>
            </a>
        </div>
        <% } %>

    </div>
</section>
<!-- 
        !navbar ends
-->

