<!-- 
        !pages link below navbar starts
       -->
<section class="page-links-section">
    <div class="page-links-div">
        <div id="page-links"
            class="page-links-center-elements page-links-text">

            <div id="all-jewelleries"
                class="page-links-box page-links-center-elements jPageLink">
                <a
                    class="page-links-text">All Jewelleries</a>
            </div>
            <div id="for-men"
                class="page-links-box page-links-center-elements jPageLink">
                <a 
                    class="page-links-text">For men</a>
            </div>
            <div id="diamond"
                class="page-links-box page-links-center-elements jPageLink">
                <a 
                    class="page-links-text">Diamond</a>
            </div>
            <div id="top-sellers"
                class="page-links-box page-links-center-elements jPageLink">
                <a
                    class="page-links-text">Best Sellers</a>
            </div>
            <div id="gold"
                class="page-links-box page-links-center-elements jPageLink">
                <a 
                    class="page-links-text">Gold</a>
            </div>
            <div id="for-women"
                class="page-links-box page-links-center-elements jPageLink">
                <a 
                    class="page-links-text">For women</a>
            </div>
            <div id="most-favourites"
                class="page-links-box page-links-center-elements jPageLink">
                <a 
                    class="page-links-text">Most Favourites</a>
            </div>

        </div>
    </div>
</section>
<!-- 
        !pages link below navbar ends
       -->